body {
  margin: 0px;
  padding: 0px;
}

@-webkit-keyframes MoveLeft {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  70% {
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes MoveLeft {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  70% {
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.headerMetaData {
  -webkit-animation: MoveLeft 1s ease-in-out;
  animation: MoveLeft 1s ease-in-out;
}

.headerMetaData img {
  width: 70px;
  height: 70px;
}

.header {
  height: 75px;
  padding: 0%;
  margin: 0%;
  background-color: #4e4ef8;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.headerHeading {
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-family: Nunito;
  -webkit-animation: MoveLeft 1s ease-in-out;
  animation: MoveLeft 1s ease-in-out;
}

@media (max-width: 576px) {
  .headerHeading {
    font-size: 30px;
  }
}

.headerHeadLine {
  font-family: Raleway;
  margin: 0;
  color: aliceblue;
  padding: 0;
  -webkit-animation: MoveLeft 1s ease-in-out;
  animation: MoveLeft 1s ease-in-out;
}

@media (max-width: 576px) {
  .headerHeadLine {
    font-size: 14px;
  }
}

.headerBTN {
  color: white;
  font-size: 26px;
  margin-left: 20px;
  background: transparent;
  outline: none;
  border: 0ch;
  padding: 0%;
}

@media (max-width: 576px) {
  .headerBTN {
    font-size: 30px;
    margin-left: 15px;
  }
}

.headerBTN:hover {
  color: #9ad176;
}

.headerBtn {
  -webkit-animation: headerBTNAni 2s ease-in-out;
  animation: headerBTNAni 2s ease-in-out;
  margin-right: 15px;
  margin-top: 15px;
}

@media (max-width: 576px) {
  .headerBtn {
    margin-right: 10px;
  }
}

@-webkit-keyframes headerBTNAni {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  30% {
    opacity: 0.3;
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate3d(30);
    transform: rotate3d(30);
  }
}

@keyframes headerBTNAni {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  30% {
    opacity: 0.3;
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate3d(30);
    transform: rotate3d(30);
  }
}

.brLeft {
  border-right: 2px solid black;
}

.tab-btns {
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.tab-btn {
  overflow: hidden;
  height: 18px;
  margin: 3px 0px;
  font-size: 14px;
  padding: 0%;
  margin: 0%;
  font-family: Nunito;
  text-transform: uppercase;
  margin-left: 35px;
  color: inherit;
}

.active-tab {
  background-color: black;
  color: white;
}

.pm0 {
  padding: 0px;
  margin: 0px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.formInput {
  /* border: 0ch; */
  height: 50px;
  width: 50%;
  font-family: Raleway;
  position: relative;
  overflow: hidden;
}

@media (max-width: 576px) {
  .formInput {
    width: 90%;
  }
}

.formInput input {
  height: 100%;
  width: 100%;
  font-family: Raleway;
  padding-top: 12px;
  border: none;
  outline: none;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.formInput .label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
  pointer-events: none;
}

.formInput .label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #87eb7a;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content {
  font-size: 18px;
  position: absolute;
  left: 0%;
  bottom: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.formInput input:focus + .label .content,
.formInput input:valid + .label .content {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  font-size: 16px;
}

.formInput input[type="email"]:invalid + .label .content {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  font-size: 16px;
}

.formInput input:invalid + .label::after {
  border-bottom: 1px solid red;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.formInput input:focus + .label::after,
.formInput input:valid + .label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.msgEmailRight {
  margin: 0px;
  float: right;
  margin-top: -12px;
}

.msgEmailLeft {
  margin: 0px;
  float: left;
  margin-top: -12px;
}

.chatmain {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.chatmain .chatbox {
  border-bottom: 2px solid blanchedalmond;
  padding: 6px;
}

.chatmain .chatbox .cbl {
  display: inline-block;
}

.chatmain .chatbox .cbl img {
  height: 70px;
  width: 70px;
  border-radius: 30px;
  display: inline-block;
  margin-right: 14px;
}

.chatmain .chatbox .cbl .cb-heading {
  display: inline-block;
  position: absolute;
}

.chatmain .chatbox .cbl .cb-heading h5 {
  display: inline-block;
  font-family: Raleway;
  margin: 0%;
}

.chatmain .chatbox .cbl .cb-heading p {
  padding: 0%;
  margin: 0%;
  display: block;
}

.chatmain .chatbox .cbr {
  float: right;
}

.chatmain .chatbox .cbr .btn-2 {
  display: block;
}

.chatmain .chatbox .cbr button {
  border: none;
  font-size: 20px;
  background: transparent;
  margin: 0%;
  padding: 0%;
}

.chatmain .chatbox .cbr button :hover {
  color: #999;
}

.chatmain .chatbox .cbr p {
  display: inline-block;
}

.chatWindow {
  position: relative;
  margin: 10px;
  border: 1px solid #999;
  padding: 30px 10px;
  height: 400px;
}

.chatWindow .cw_metaData {
  position: relative;
  display: inline-block;
}

.chatWindow .cw_metaData .heading {
  display: inline-block;
}

.chatWindow .cw_metaData .heading h4 {
  font-family: Raleway;
  display: inline-block;
  padding: 0%;
  margin: 0px;
  font-size: 20px;
}

.chatWindow .cw_metaData .btn {
  margin-top: -6px;
  margin-left: 60px;
  position: absolute;
  display: inline-block;
  text-align: right;
  font-family: Raleway;
}

.chatWindow .cw_metaData .btn .del-btn {
  display: inline-block;
  border: none;
  text-align: right;
  font-size: 20px;
  background: transparent;
  margin: 0%;
  padding: 0%;
}

.chatWindow .cw_metaData .btn .del-btn :hover {
  color: red;
}

.chatWindow .chat-list .cl {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
}

.chatWindow .msg-form {
  position: absolute;
  float: bottom;
  bottom: 0;
}

.chatWindow .msg-form form {
  display: inline-block;
}

li {
  list-style-type: none;
}

.leftAlginChat {
  margin-right: 10px;
  border: 1px solid;
  margin-bottom: 4px;
  border-radius: 15px;
  text-align: left;
  font-family: Raleway;
  text-transform: capitalize;
  padding: 10px;
}

.RightAlginChat {
  margin-right: 10px;
  border: 1px solid;
  margin-bottom: 4px;
  border-radius: 15px;
  font-family: Raleway;
  text-align: right;
  padding: 10px;
  text-transform: capitalize;
}

.login {
  margin: 14px 0px;
}

.login .heading {
  text-align: center;
  font-family: Nunito;
}

.hr-black {
  border: 2px solid black;
}

.profile {
  position: relative;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .profile {
    text-align: center;
  }
}

.profile .pr-img {
  display: inline-block;
  margin-right: 40px;
}

.profile .pr-img img {
  display: inline-block;
  margin: 0%;
  width: 140px;
  height: 140px;
}

.profile .pf-header {
  display: inline-block;
  position: absolute;
}

@media (max-width: 576px) {
  .profile .pf-header {
    position: relative;
  }
}

.profile .pf-header h1 {
  display: inline-block;
  font-family: Nunito;
  text-transform: capitalize;
}

@media (max-width: 576px) {
  .profile .pf-header h1 {
    font-size: 30px;
    padding: 5px;
  }
}

.profile .pf-header b {
  display: block;
  text-transform: capitalize;
  font-family: Raleway;
}

.profile .user-group {
  text-align: center;
}

.profile .user-group .ug-head h2 {
  font-family: Nunito;
}

.profile .user-group .ug-body {
  text-align: left;
}

.footer {
  padding: 5px;
  text-align: center;
  margin-top: 5px;
}
/*# sourceMappingURL=Style.css.map */